Chapter10/Drill/build/**
Chapter10/Drill/bin/**

Chapter10/Exercises/Exercise01/build/**
Chapter10/Exercises/Exercise01/bin/**

Chapter10/Exercises/Exercise02/build/**
Chapter10/Exercises/Exercise02/bin/**

Chapter10/Exercises/Exercise03/build/**
Chapter10/Exercises/Exercise03/bin/**

Chapter10/Exercises/Exercise04/build/**
Chapter10/Exercises/Exercise04/bin/**

Chapter10/Exercises/Exercise05/build/**
Chapter10/Exercises/Exercise05/bin/**

Chapter10/Exercises/Exercise06/build/**
Chapter10/Exercises/Exercise06/bin/**

Chapter10/Exercises/Exercise07/build/**
Chapter10/Exercises/Exercise07/bin/**
Chapter10/Exercises/Exercise07/.vscode